[submodule "test/external/Catch2"]
	path = test/external/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "examples/external/json"]
	path = examples/external/json
	url = https://github.com/nlohmann/json
