[submodule "examples/external/json"]
	path = examples/external/json
	url = https://github.com/nlohmann/json
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
